@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image:linear-gradient(to right,#FA149A,#D412DE);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius:10px;
    box-shadow: 5px 5px 15px #6712dec2 ;
}
h1 {
    text-align:center;
    color:#B120F5;
    text-shadow: 1px 1px 2px  #67128fe1;
}
h2 {
    color: #6712DE;
}
p {
    text-align: justify;

}
